:root {
    --default-green: #1DB954;
    --light-green: #1ed760;
}
   


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
}

/* utility Classes */
.btn-primary {
    background:var(--default-green);
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight : bold;
    transition: all 300ms ease;

}

.btn-primary:hover {
    background: var(--light-green);
    cursor: pointer;
}

.logo {
    height: 40px;
    width: auto;
}
/* navbar */
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}



.navbar__container ul {
    display: flex;
    list-style: none;
    font-weight: bold;

}

.navbar__container ul li {
    padding: 0 20px;
    transition: all 300ms ease;
}

.navbar__container ul li:hover {
    color: #1DB954;
    cursor: pointer;
}

.navbar__container ul li:nth-child(3) {
    border-right: 1px solid white;
    padding-right: 15px;
}

/* showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(img/showcase.webp) center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

.showcase__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.showcase__container h2 {
font-size: 5rem;
}

.showcase__container p {
    margin: 15px 0;
    font-size: 1.1rem;
}

/* footer */

#footer {
    background: black;
    color: white;
    padding: 50px 0;
}

.footer__content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
   
    
}

.footer__menu {
    margin: 0px 40px;
    list-style: none;
}

.footer__menu__items {
    margin: 25px 0;
    transition: all 300ms ease;
}

.footer__menu__item:hover {
    color:var(--default-green);
    cursor: pointer ;
}

.footer__menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

    /* Footer Socials */
.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}

.socials i:hover {
    color: var(--default-green);
    cursor: pointer;
}

/* Footer Info */

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    padding-top: 50px;
}

.footer__info__item {
    display: flex;
    list-style: none;
}

.footer__info__item {
    margin: 0 10px;
    transition: all 300ms ease;
    
}

.footer__info__item:hover {
    color: var(--default-green);
    cursor: pointer;

} 

.country {
    display: flex;
    justify-content: flex-end;
    align-items:center ;
    margin-bottom: 10px ;

}

.country p {
    transition: all 300ms ease;
}

.country p:hover {
    color: var(--default-green);
    cursor: pointer;
}

.brazil__frag  {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width:768px){
    .navbar__container{
        display: flex;
        flex-direction: column;
        
    }
    .navbar__items{
        font-size: 0.8rem;
        display: flex;
        margin-top: 20px;
        padding: 0px;
       
        
    }

    .navbar__container ul li{
        padding: 0;

    }

    .navbar__container ul {
        gap: 15px;
    }
   
    .showcase__container {
        justify-content: center;
        align-items: center;
        text-align: center;
        
       
    }


    .showcase__container p {
        font-size: 1.12em;
    }
    .footer__content{
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 5px;
    }

    .footer__info{
        margin: 0;
        padding: 0;
        width: 100%;
        
    }

    .footer__info__items {
        margin-top: 60px;
        
    }

    .footer__menu__item {
        margin: 0;
        
    }
    .footer__menu p {
       margin-bottom: 10px;
    }

    .socials  {
        
        align-self:center ;
        
        
    }
}